
 
  .sidenav {
    height: 100%;
    width: 340px;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F0F0F0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 20px;
  }

  #sidenav-content {
      padding: 10px;
      position: relative;
      bottom: 15px;
      text-align: center; 
  }

  .sidenav a.active {
    text-decoration: underline;
  }

  #sidenav-content-links {
    position: relative;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    transform: translate(-50%, -50%);
 
}

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    text-decoration: underline;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

#mobile-nav {
    display: none;
}

 
#name {
    color: var(--blue-text);
    font-size: 30px;
    font-weight: bold;
}

.container {
    position: relative;
    height: 100vh;
    width:100%;
    overflow:hidden

}


/*headings*/
#cont-head {
    position: relative;
    margin-left: 60px;
    top: 50px;
    font-size: 28px;
    color: white;
}

h1 {
    padding: 50px;
    text-align: center;
}

h3 {
    position: relative;
    bottom: 20px;
    padding: 50px;
    text-align: center;
    opacity: 0.5;
}

/*logo*/
#lang{
    position: relative;
    display: block;
    bottom: 55px;
    margin-left: auto;
    margin-right: auto;
   
}
.logo{
    height: 60px;
    position: relative;
    margin-left: 60px;
}

/*image section*/

.fig-cap {

    position: relative;
    text-align: center;
    top: 370px;
    font-size: 40px;

}
 #hero-img {
     position: relative;
     display: block;
     margin-left: auto;
     margin-right: auto;
     height: 200px;
     width: 190px;
     top: 21vh;
     border-radius: 50%;
 }

 #hello {
    font-size: 20px;
    opacity: 0.5;
  }

  .cont-logo {
      display: flex;
      height: 25px;
      position: relative;
      margin-left: 60px;
      top: 90px;
  }

  .loc-cap{
    position: relative;
    color: white;
    top: 58px;
    margin-left: 100px;
  }

  .mail-cap{
    position: relative;
    color: white;
    top: 65px;
    margin-left: 100px;
}

 .const{
    width: 400px;
    position: relative;
    margin-left: 557px;
    bottom: 290px;
    
 }

  .cont-logo-loc {

    height: 40px;
    position: relative;
    margin-left: 53px;
    top: 90px;
}


 /*main section */

 .main {
    z-index: 1;
    background-image: url(/images/back-g.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 340px;
    font-size: 28px; 
    padding: 0px 10px;
    height: 100vh;
 }
/* about-me section */

#about{

    margin-left: 340px;
    scroll-behavior: smooth;
    height: auto;
    resize: horizontal;
    background-color:#cccccc;
}

#abt-txt {
    position: relative;
    text-align: center;

}

/*Projects section*/
#projects{
    margin-left: 340px;
    scroll-behavior: smooth;
    height: auto;
    padding-bottom: 160px;
    background-color: #a6a6a6;
}


.container-card{
    display: flex;
    flex-flow: wrap;
    gap: 18px;
    justify-content: space-around;
}

#contact{
    margin-left: 340px;
    scroll-behavior: smooth;
    height: 20vh;
    background-color: #1e1e2f;
}

#socials {
  
    position: relative;
    top: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width :768px){
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


@media screen and (max-device-width :767px){
  #nav{
    display:none;

  }
  .main {
      
    background-image: url(/images/back-g.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 28px;
    position: relative;
    bottom: 50px; 
    margin-left: 0px;
    z-index: -1;
    padding: 0px 10px;
    height: 100vh;
    
 }
 #mobile-nav {
  display: contents;
 
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 34%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

#about{
  bottom: 50px;
  position: relative;
  margin-left: 0px;
  scroll-behavior: smooth;
  height: auto;
  resize: horizontal;
  background-color:#cccccc;
}
#abt-txt {
  position: relative;
  display: block;
  margin-left: 10px;
  margin-right: auto;
}
#projects{
  bottom: 50px;
  position: relative;
  margin-left: 0px;
  scroll-behavior: smooth;
  height: auto;
  padding-bottom: 160px;
  background-color: #a6a6a6;
}
.container-card{
  display: flex;
  flex-flow: wrap;
  gap: 25px;
  justify-content: space-around;
}

#contact{
  bottom: 50px;
  position: relative;
  margin-left: 0px;
  scroll-behavior: smooth;
  height: 20vh;
  background-color: #1e1e2f;
}

.cont-logo-loc {

  height: 40px;
  position: relative;
  margin-left: 32px;
  top: 90px;
}

.cont-logo {
  display: flex;
  height: 25px;
  position: relative;
  margin-left: 42px;
  top: 90px;
}

h1 {
  padding: 30px;
  text-align: center;
}

#cont-head {
  position: relative;
  margin-left: 40px;
  top: 50px;
  font-size: 28px;
  color: white;
}
#lang{
  position: relative;
  bottom: 55px;
  margin-left: 20px;
}
.fig-cap {

  position: relative;
  text-align: center;
  top: 700px;
  font-size: 40px;

}
#hero-img {
   position: relative;
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: 400px;
   width: 360px;
   top: 35vh;
   border-radius: 50%;
}
}
